@model Marshrutkaby.Models.OrderSet

<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h4>Отмена заказа</h4>
    </div>
    <div class="modal-body">
@using (Html.BeginForm("PrivateOffice", "Account"))
{
         <div> Вы уверенны что хотите отменить заказ №
              @Html.DisplayFor(model => model.IdOrder)
         </div>

        @Html.ActionLink("Нет", "PrivateOffice", new { }, new { @class = "close btn btn-primary" })
        @Html.ActionLink("Да", "Remove", new {id = Model.IdOrder}, new { @class = "compItem btn btn-primary" })
     
}
    </div>

</div>
